{
  "presets": [
    [
      "next/babel",
      {
        "useBuiltIns": true,
        "corejs": "3"
      }
    ],
    ["@babel/preset-typescript"]
  ],
  "plugins": [
    ["inline-react-svg"],
    ["@babel/syntax-dynamic-import"],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@modules": "./node_modules",
          "@public": "./public",
          "@components": "./src/components",
          "@templates": "./src/templates",
          "@styles": "./src/styles",
          "@pages": "./src/pages",
          "@store": "./src/store"
        }
      }
    ],
    [
      "babel-plugin-styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ],
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragmaFrag": "React.Fragment"
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [["@babel/preset-env"], "next/babel"],
      "plugins": [
        [
          "babel-plugin-styled-components",
          { "ssr": false, "displayname": false }
        ]
      ]
    }
  }
}
