{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "useBuiltIns": "usage"
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@modules": "./node_modules",
          "@components": "./components",
          "@templates": "./templates",
          "@styles": "./styles",
          "@public": "./public",
          "@pages": "./pages"
        }
      }
    ],
    ["inline-react-svg"],
    "@babel/syntax-dynamic-import",
    [
      "lodash",
      {
        "id": ["lodash"]
      }
    ],
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [["@babel/preset-env", { "modules": false }], "next/babel"]
    }
  }
}
